<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div class="container is-hidden-print">
    <div class="level">
      <div class="logo level-left">
        <a href="/"><h1>{{ .Site.Title }} | Recipes</h1></a>
      </div>
      <nav>
          <ul class="level-right">
              {{ range .Site.Menus.main }}
              <li class="level-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
              {{ end }}
          </ul>
          <hr/>
      </nav>
      </div>
      </div>
      <div class="clearfix"></div>

      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter is-hidden-print">
            {{ partial "menu.html" . }}
          </div>

          <div class="column">
