{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ range (where .Data.Pages "Section" "!=" "") }}
    <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
        <br>
        <small>
            {{ range .Params.categories }}
            <a href="{{ (print "/categories/" . | urlize) | relURL }}">@{{ . }}</a>
            {{ end }} |
            {{ range .Params.tags}}
            <a href="{{ (print "/tags/" . | urlize) | relURL }}">#{{ . }}</a>
            {{ end }}
            |
            {{ .Params.servings }} servings
            |
            {{ .Params.calories }} calories/serving
            |
            time: {{ .Params.time }}
            |
            <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        </small>
    </li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}
