{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title }}</span></h1>
    {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
</div>
<main>
    <ul class="ingredients content">
        <strong>Servings:</strong> {{ .Params.servings }}
        <br>
        <strong>Calories:</strong> ~{{ .Params.calories }}/serving
        <br>
        <strong>Time:</strong> {{ .Params.time }}
        <hr>
        <strong>Ingredients</strong>
        <ul>
        {{ range $index, $element := .Params.ingredients }}
        <li>{{ $element }}</li>
        {{ end }}
        </ul>
    </ul>
    <hr>
    <strong>Instructions:</strong>
    <div class="content">
    {{ .Content }}
    </div>

    <small>Source: {{ .Params.source }}</small>
    {{ if (gt .Params.date 0) }}
    <br>
    <small class="date">Made on: {{ .Date.Format "2006/01/02" }}</small>
    {{ end }}
</main>

{{ partial "footer.html" . }}
